parameters:
   level: 9
   excludePaths:
      analyse:
         - */tests/*
   reportUnmatchedIgnoredErrors: false

   paths:
      - ../Console.php
      - ../Console/
      - ../projects/
   ignoreErrors:
      - identifier: property.uninitializedReadonly
      - identifier: property.private
      - identifier: property.protected
      - identifier: property.readOnlyAssignNotInConstructor
      - identifier: property.readOnlyAssignOutOfClass
      - identifier: assign.propertyReadOnly
